/* GENERAL */

:root {
  font-size: 16px;
  --item-blue-color: #063970;
  --item-blue-color-shadow: #0000ff44;
  --background-item-color: #2596be;
  --item-yellow-color: #ffd11a;
}

body {
  font-family: "heebo", sans-serif;
  margin: 0;
  background-color: white;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 1.5em;
  text-align: center;
}

.wrapper {
  max-width: 1096px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.displayflex-row {
  display: flex;
  flex-direction: row;
}

.displayflex-column {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  background-color: var(--item-blue-color);
  color: white;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 1px 2px 4px 0 var(--item-blue-color-shadow);
  font-weight: bold;
  width: fit-content;
}

section {
  padding: 2rem 0;
}

/*section colors alternance*/

section:nth-child(odd) {
  background-color: var(--background-item-color);
  color: white;
}

/*setting first section position versus nav bar*/

section:first-child {
  margin-top: 5.5rem;
}

/*  HOME */

#helloicon {
  font-size: 2rem;
}

.hero-text h1 {
  padding: 0.5rem 0;
  font-size: 2rem;
}

.hero-text p {
  padding: 0.5rem 0;
}

#contractDetails {
  position: relative;
}

#contractDetails p:first-child {
  padding-bottom: 0;
}

#hello-buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

#ampersand {
  display: block;
  position: absolute;
  bottom: 0.1em;
  left: -2rem;
  font-size: 2rem;
  color: var(--item-blue-color);
}

.hero-img {
  position: relative;
  width: 50%;
}

.hero-img img {
  bottom: 2rem;
  left: 2rem;
  display: block;
  position: absolute;
  z-index: 10;
  width: 60%;
  border-radius: 50%;
}

/*  ABOUT */

#about-text {
  text-align: center;
  margin-bottom: 3rem;
}

/*  CV TIMELINE*/

.timeline {
  position: relative;
}

/*timeline middle bar element */

.timeline:after {
  content: "";
  background-color: var(--item-blue-color);
  width: 0.2rem;
  left: 0;
  bottom: 0;
  top: 0;
  margin-left: -1px;
  position: absolute;
  z-index: -1;
}

/*timeline dot element */

.timeline-card:after {
  background-color: var(--background-item-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2rem;
  width: 1rem;
  height: 1rem;
  z-index: 1;
}

/*timeline alternance */

.timeline .timeline-card {
  width: 100%;
  position: relative;
  padding: 0 2rem;
}

.timeline .timeline-card:nth-child(even):after {
  left: -7px;
}
.timeline .timeline-card:nth-child(odd):after {
  left: -7px;
}

/*timeline responsiveness */

@media screen and (min-width: 600px) {
  .timeline:after {
    left: 50%;
  }
  .timeline .timeline-card {
    width: 50%;
    left: 50%;
  }
  .timeline .timeline-card:nth-child(even) {
    left: 0;
    text-align: right;
  }
  .timeline .timeline-card:nth-child(even):after {
    left: auto;
    right: -7px;
  }
  .timeline .timeline-card:nth-child(odd):after {
    left: -7px;
  }
}

/*color titles */

.timeline .timeline-card .CVtitle {
  color: var(--background-item-color);
}

/*  SKILLS, CERTIFICATIONS & PROJECTS*/

#technical-skills,
#certifications-list,
#gallery {
  justify-content: center;
  text-align: center;
  gap: 3rem;
  flex-wrap: wrap;
}

#projects-intro p {
  text-align: center;
  margin-bottom: 3rem;
}

/*  PROJECT GALLERY ANIMATION*/

#gallery > div {
  /*les divs qui sont les enfants directs */
  width: 30%;
}

figure {
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

figcaption.project-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  z-index: 10;
  transform: translate(-50%);
  background: #fff;
  min-width: 2rem;
  min-height: 2rem;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear;
}

figcaption.project-icon a {
  height: 1rem;
}

figcaption.project-info {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: white;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

figure img {
  transition: all 0.3s linear;
}

figure img:hover {
  transform: scale(1.2);
}

figure:hover figcaption.project-icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#gallery-item:hover a {
  opacity: 1;
}

#item-info {
  position: absolute;
  color: #fff;
  z-index: 10;
}

/*  gallery responsiveness*/

@media screen and (max-width: 600px) {
  figcaption.project-info {
    flex-wrap: wrap;
  }
  #gallery > div {
    /*les divs qui sont les enfants directs */
    width: 90%;
  }
}

/*  CONTACT*/

#contact p {
  text-align: center;
}

label {
  display: inline-block;
  margin: 0.5rem 0;
}

#phonediv,
#emaildiv {
  width: 50%;
}

input,
#request {
  padding: 0.5rem;
  border: solid 1px black;
  width: 100%;
}

#contact-info {
  justify-content: flex-start;
  gap: 3rem;
}

#contact-info,
#contact-name,
#contact-message {
  padding-top: 2rem;
}

textarea {
  min-height: 8rem;
  min-width: 100%;
  padding: 0.5em;
  border: solid 1px black;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  border: none;
}
