nav ul {
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #white;
  padding: 0 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 3px solid var(--item-blue-color);
}
